[View in Colaboratory](https://colab.research.google.com/github/joohayoung/py-15/blob/master/Summary_datatypes.ipynb)

##summary of datatypes in Python

- list
- dictionary
- tuple
- set
- string

###  리스트 생성 및 항목 추가

In [0]:
a=[10,20,30,40,50]

In [2]:
#0.1.2... 인덱스는 리스트 처음부터 시작
#-1,-2... 인덱스는 리스트 마지막부터 시작
print("a[0] ==", a[0],"a[2] ==", a[2],"a[4] ==", a[4])
print("a[-1] ==", a[-1],"a[-2] ==", a[-2],"a[-5] ==", a[-5])

a[0] == 10 a[2] == 30 a[4] == 50
a[-1] == 50 a[-2] == 40 a[-5] == 10

In [0]:
b=[10,20,"Hello",[True,3.14]]

In [4]:
#b[3] 또는 b[-1] 값은 [True, 3.14] 리스트 전체임
print("b[0] ==", b[0],"b[2] ==", b[2],"b[3] ==", b[3])
print("b[-1] ==", b[-1],"b[-2] ==", b[-2],"b[-4] ==", b[-4])

b[0] == 10 b[2] == Hello b[3] == [True, 3.14]
b[-1] == [True, 3.14] b[-2] == Hello b[-4] == 10

In [5]:
print("b[3][0] ==", b[3][0],"b[3][1] ==", b[3][1])
print("b[-1][-1] ==", b[-1][-1],"b[-1][-2] ==", b[-1][-2])

b[3][0] == True b[3][1] == 3.14
b[-1][-1] == 3.14 b[-1][-2] == True

In [6]:
b[-2][-2]

'l'

###리스트의 부분 선택(슬라이싱)

In [7]:
#a[0:2]=> 인덱스 0부터 2~1까지 , a[1:]=>인덱스 1부터 끝까지
#a[:3]=>인덱스 처음부터 3~1까지, a[:-2]=>인덱스 처음부터 -2~1까지
#a[:]=>인덱스 처음부터 끝까지
print("a[0:2]==",a[0:2],", a[1:]==",a[1:])
print("a[:3]==",a[:3],", a[:-2]==",a[:-2])
print("a[:]==",a[:])

a[0:2]== [10, 20] , a[1:]== [20, 30, 40, 50]
a[:3]== [10, 20, 30] , a[:-2]== [10, 20, 30]
a[:]== [10, 20, 30, 40, 50]

###튜플의 부분 선택(슬라이싱)

In [0]:
a=(10,20,30,40,50)

In [12]:
print("a[0] ==", a[0],", a[-2] ==", a[-2],", a[:] ==", a[:])
print("a[0:2] ==", a[0:2],", a[1:] ==", a[1:])

a[0] == 10 , a[-2] == 40 , a[:] == (10, 20, 30, 40, 50)
a[0:2] == (10, 20) , a[1:] == (20, 30, 40, 50)

In [13]:
a[0]=100  #a[0]값을 100으로 변경하려하기 때문에 에러 발생 - 튜플

TypeError: ignored

###딕셔너리

In [0]:
score={"KIM":90, "LEE":85, "JUN":95} #dictionary 생성

In [15]:
print("score['KIM'] ==",score['KIM']) #원소 접근

score['KIM'] == 90

In [20]:
score

{'HAN': 100, 'JUN': 95, 'KIM': 90, 'LEE': 85}

In [0]:
score['HAN']=100

In [17]:
print(score)

{'KIM': 90, 'LEE': 85, 'JUN': 95, 'HAN': 100}

In [21]:
print("score key==",score.keys())
print("score value==",score.values())
print("score items==",score.items())

score key== dict_keys(['KIM', 'LEE', 'JUN', 'HAN'])
score value== dict_values([90, 85, 95, 100])
score items== dict_items([('KIM', 90), ('LEE', 85), ('JUN', 95), ('HAN', 100)])

###string

In [0]:
a='A73,CD'

In [23]:
a[1]

'7'

In [25]:
a[7]

IndexError: ignored

In [26]:
a=a+', EFG'
a

'A73,CD, EFG'

In [0]:
b=a.split(',')  #split 함수는 문자열 데이터 전처리하기 위해 자주 사용- 문자열 분리 기능

In [30]:
print(b)

['A73', 'CD', ' EFG']

##Useful functions in python

- type(), len(),size()
- int(), str()
- list()

###Useful function:type(),len(),size()

In [0]:
a=[10,20,30,40,50]
b=(10,20,30,40,50)
c={"KIM":90, "LEE":80 }
d='Seoul, Korea'
e=[ [100, 200], [300,400], [500,600]]

In [32]:
print(type(a),type(b),type(c),type(d),type(e),)

<class 'list'> <class 'tuple'> <class 'dict'> <class 'str'> <class 'list'>

In [33]:
print(len(a),len(b),len(c),len(d),len(e)) #공백도 하나로 카운트

5 5 2 12 3

In [34]:
print(size(e))#size함수는 list에 쓸수없다.

NameError: ignored

###Functions; int(),str(),list()

In [0]:
a='Hello'
b={"KIM":90, "LEE":80}

In [37]:
print(list(a),list(b.keys()), list(b.values()),list(b.items()))

['H', 'e', 'l', 'l', 'o'] ['KIM', 'LEE'] [90, 80] [('KIM', 90), ('LEE', 80)]